<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new customer</a>
<h1>Customers</h1>
<div style="width: 500px">
    <a href="/">back List</a>
    <form action="/search">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="search" name="search" th:value="${search}">
            <button class="btn btn-outline-secondary">Button</button>
        </div>
    </form>
</div>
<table border="1" width="75%">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Avatar</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>detail</th>
    </tr>
    <th:block th:each="customer : ${formList}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td><img width="100" height="100" th:src="@{'/image/'+${customer.avatar}}" alt=""></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
            <td><a th:href="@{/detail-customer/__${customer.id}__}">Detail</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>
